<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Calander</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="pt-24">
    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
            
            <h1 class="my-4 text-5xl font-bold leading-tight">Pedí el turno completando el formulario</h1>
            <p class="leading-normal text-2xl mb-8">Y te va a llegar el comprobante a tu casilla de correo electrónico.</p>
        </div> 
        
        
        <div class="flex flex-col w-full md:w-3/5 py-6 text-left">

 <div Class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 max-w-xs self-center"> 
  <div Class="max-w-xs relative">
    <hr>
    <form  class="flex flex-col w-full md:w-3/5 py-6 text-left" action="http://localhost:3000/events" method="POST">
    
    <div Class="max-w-xs relative">
    <div Class="mb-4 max-w-xs">
        <label Class="block text-gray-700 text-sm font-bold mb-2" for="event title">

      <div class="mb-4 max-w-xs"></div>
      <label  Class="block text-gray-700 text-sm font-bold mb-2" for="attendee email">Email de Contacto</label>
      <input Class=" border rounded focus:outline-none focus:shadow-outline text-gray-700 w-full" type="email" name="to" >
      <label  Class="block text-gray-700 text-sm font-bold mb-2 pt-4" for="event title">Nombre Completo</label>
      <input Class=" border rounded focus:outline-none focus:shadow-outline text-gray-700 w-full" type="text" name="summary" placeholder="the title of event...">
      <label   Class="block text-gray-700 text-sm font-bold mb-2 pt-4" for="body">Nombre De Mascota y Sintomas</label>
      <textarea type="text" name="description" placeholder="the message body..."></textarea>
      <label  Class="block text-gray-700 text-sm font-bold mb-2 pt-4" for="body">Fecha y Hora de TURNO</label>
      <input Class="block appearance-none w-full bg-white border border-gray-400
      hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight
      focus:outline-none focus:shadow-outline input text-gray-700"  type="datetime-local"  name="eventStartTime" value=':00-07:00'  placeholder="the message body...">
      

            
       
      <input   Class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit" value="Send Event Invite">

    
    </form>
    </div>
  </div>
</body>
</html>