<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>Google Events</title>
</head>
<body class="bg-gradient-to-r from-blue-500 to-purple-600">
  <div class=" mx-auto max-w-sm rounded overflow-hidden shadow-lg bg-white mt-40">
            
    <div class="px-6 py-4">
        <div class="font-bold text-4xl mb-2">Reserva Confirmada!</div>
        <div class="text-gray-700 text-base">
            <p class="pb-2">La reserva del turno fue enviada a tu email.</p>
            <p class="pb-2">Muchas gracias.</p>
        </div>
        <div class="pb-6">
            <button  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
            type="submit"    onclick="window.location.href='http://localhost:3000'"
             >
       
                Cerrar
            </button>
        </div>
        
    </div>
</div>

</body>
</html>