<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <title>Google Events</title>
</head>
<body>
  <div class="bg-gradient-to-r from-green-100 via-green-200 to-blue-300 ...">
  <div  class="text-center ..."  class="font-extrabold ..." class="text-green-500 "> 
  <div class="form"class="text-green-500 " >
   <div class="text-6xl">
    <h2   class="text-green-500 opacity-50 " >RESERVA CONFIRMADA </h2>
   </div>
   
   <svg class="animate-bounce w-6 h-6 ...">
    <!-- ... -->
  </svg>

      <div class="text-lg">
    
    <a>  Por favor revisa tu email :)) </a></p>




    <div class="text-4x1">
      <p   class="text-green-500" ><a > Gracias !!!!</a><a target="blank"> <div class="text-lg" >  </a>
      </div>
      

  </div>
   
      </div>

    </div>

  </div
  >
  </div>
  </div>

</body>
</html>